body{
    background-image: url("../images/cover3.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    font-size: 18px;

}
h1{
    font-family: Tahoma;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    color:darkgoldenrod;
}

h2{
    font-family: 'Segoe UI', Tahoma;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    color: rgb(97, 71, 7);;
   
}

p::first-letter{
    
    font-size: 25px;
    line-height: 1;
    font-weight: bold;
    
}
.intro{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: darkslategray
}
.text{
    text-align: center;
    font-style: italic;
}
.cont{
    margin-left: 8%;
    margin-right: 8%;
}
li{
    font-weight: bold;
    }
a{
    text-decoration: none;
    font-weight: bold;
    color:brown;
}
a:hover{
    text-decoration: underline;
}
.travel{
    height: 20%;
    width: 30%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
.about{
    background-color: lightslategray;
    text-align: center;
    border-radius: 25px;
    
}
.cources li{
    padding: 5px;
    list-style-type:circle;
    font-style: oblique;
    font-weight: bold;
       

}
.cources{
    background-color:lightsteelblue;
    border-radius: 3%;
  
}
.movies li{
    padding: 5px;
    font-style: oblique;
    color: black;
    }
li dl{
    margin-left: 3%;
    
}
dt{
    margin-right: 3%;
    color:rgb(97, 71, 7);
}
    dd{
    font-style: italic;
}
.movies{
   background-color:lightslategray ;
   border-radius: 25px;

}
.mood{
  
    background-color: lightsteelblue;
    border-radius: 25px;
    text-align: center;
}
.moodpic{
    height: 25%;
    width: 30%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-left: 7%;
}
.funFacts{
    text-align: center;
    background-color:lightslategray ;
    border-radius: 25px;

}
.footer{
    background-color: black;
    color:darkgray;
    padding: 10px;

}
